name: Docker Build and Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    # Checkout the repository code
    - name: Checkout Code
      uses: actions/checkout@v3
      
    # Docker Hub'dan çıkış yapma
    - name: Logout from DockerHub
      run: docker logout || echo "Already logged out" -

    # Set up Docker Buildx (for multi-platform builds if needed)
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
   
    # Log in to DockerHub (optional, only if pushing to DockerHub)
    - name: Log in to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
   
    - name: Build Docker Image
      run: |
        docker build -t eraserase/decompiler-explorer:dev -f Dockerfile.dev .


    # Run the Docker container for testing
    - name: Run Container
      run: |
        docker run -d --name decompiler-explorer-dev -p 8000:8000 eraserase/decompiler-explorer:dev
        sleep 25 # Wait for container to start


    - name: Tag Docker Image
      run: |
        docker tag eraserase/decompiler-explorer:dev eraserase/decompiler-explorer:latest

    - name: Push Docker Image
      run: |
        docker push eraserase/decompiler-explorer:latest
